---
all:
  vars:
    tp2_timezone_first: "{{ automation.timezone_first }}"
    tp2_timezone_second: "{{ automation.timezone_second }}"
    tp2_windows_timezone_first: "{{ automation.windows_timezone_first }}"
    tp2_windows_timezone_second: "{{ automation.windows_timezone_second }}"
    tp2_cloud_ready_providers: {{ automation.cloud_ready_providers | tojson }}
    tp2_load_balancer_enabled: {{ load_balancer.enabled | tojson }}
    tp2_load_balancer_host: "{{ load_balancer.host }}"
    tp2_load_balancer_http_port: {{ load_balancer.http_port }}
    tp2_load_balancer_dashboard_port: {{ load_balancer.dashboard_port }}
    tp2_load_balancer_hostnames: {{ load_balancer.hostnames | tojson }}
    tp2_load_balancer_urls: {{ load_balancer.urls | tojson }}
    tp2_project_root: /workspace
    tp2_tp1_source: /workspace/TP1
  children:
    controller:
      hosts:
        ansible-controller:
          ansible_connection: local
    linux_targets:
      hosts:
{% for name, target in linux_targets | dictsort %}
        {{ name }}:
          ansible_host: "{{ target.host }}"
          ansible_user: "{{ target.user }}"
          ansible_port: {{ target.ssh_port }}
          ansible_connection: ssh
          ansible_private_key_file: "{{ target.ssh_private_key_file }}"
          ansible_python_interpreter: /usr/bin/python3
          tp2_target_os: linux
          tp2_auth_ref: "{{ target.auth_ref }}"
          tp2_deploy_path: "{{ target.deploy_path }}"
          tp2_frontend_url: "http://{{ target.host }}:{{ target.ports.frontend }}"
          tp2_backend_url: "http://{{ target.host }}:{{ target.ports.backend }}"
          tp2_prometheus_url: "http://{{ target.host }}:{{ target.ports.prometheus }}"
          tp2_grafana_url: "http://{{ target.host }}:{{ target.ports.grafana }}"
{% endfor %}
    windows_targets:
      hosts:
{% for name, target in windows_targets | dictsort %}
        {{ name }}:
          ansible_host: "{{ target.host }}"
          ansible_user: "{{ target.user }}"
          ansible_password: "{{ '{{' }} (lookup('env', 'TP2_WINDOWS_PASSWORDS_JSON') | from_json)['{{ target.auth_ref }}'] {{ '}}' }}"
          ansible_port: {{ target.winrm_port }}
          ansible_connection: winrm
          ansible_winrm_transport: ntlm
          ansible_winrm_server_cert_validation: ignore
          tp2_target_os: windows
          tp2_auth_ref: "{{ target.auth_ref }}"
          tp2_deploy_path: '{{ target.deploy_path }}'
          tp2_frontend_url: "http://{{ target.host }}:{{ target.ports.frontend }}"
          tp2_backend_url: "http://{{ target.host }}:{{ target.ports.backend }}"
          tp2_prometheus_url: "http://{{ target.host }}:{{ target.ports.prometheus }}"
          tp2_grafana_url: "http://{{ target.host }}:{{ target.ports.grafana }}"
{% endfor %}
    managed_targets:
      children:
        linux_targets:
        windows_targets:
